<p class="is-size-4 mb-3">レビューを書く</p>

<div class="rating-box mt-3">
  <%= form_with model:review, url:trader_user_path(trader_user), local: true do |f| %>
    <div><!--評価用の星を表示-->
      <span clase="fa fa-star-o" id="star"></span>
      <span clase="fa fa-star-o" id="star"></span>
      <span clase="fa fa-star-o" id="star"></span>
      <span clase="fa fa-star-o" id="star"></span>
      <span clase="fa fa-star-o" id="star"></span>
    <div>
    <div class="ml-3 rating-value-display">
      <span id="rating-value-display">0</span>/5<!--userが選択した星が表示される-->
    </div>
    <%= f.hidden_field :trader_id, value: trader_user.id %><!--どの業者に結び付けられている評価結果なのかをデータとして送る-->
    <%= f.hidden_field :score, id: "rating-value" %><!--ブラウザ上で登録されたスコア（データ）をコントローラに送信-->
    <%= f.text_field :review_comment, class: "textarea" %><!--レビュー時のコメントを記入するための枠を設置-->
    <%= f.submit "保存", class: "button mt-3" %>
    <%= link_to "他のレビューを見る", trader_user_path(trader_user), class: "button light ml-3 mt-3" %>
  <% end %>
</div>
