<thead>
  <tr>
    <th colspan="2"></th>
    <th>業者名</th>
    <th>メールアドレス</th>
    <th>連絡先</th>
    <th>ジャンル　</th>
    <th colspan="2">評価点</th>
  </tr>
</thead>
<tbody>
  <% traders.each do |trader| %>
    <tr>
      <td>第<br><%= trader[:index] %><br>位</td>
      <td>
        <% if trader[:trader].profile_image.attached? %>
          <%= image_tag(trader[:trader].get_profile_image(80,80)) %>
        <% else %>
          <%= image_tag 'leader_sagyouin_woman.jpg', size: "80x80" %>
        <% end %>
      </td>
      <td><%= link_to trader[:trader].name,admin_trader_path(trader[:trader].id) %></td>
      <td><%= trader[:trader].email %></td>
      <td><%= trader[:trader].telephone_number %></td>
      <td><%= trader[:trader].genre.name %></td>
      <td><%= trader[:trader].review_average %></td>
      <td>
        <%= link_to " 口コミ", admin_trader_trader_reviews_path(trader[:trader].id), class: "btn btn-warning" %>
        <%= link_to "編集",edit_admin_trader_path(trader[:trader].id), class: "btn btn-success"%>
      </td>
    </tr>
  <% end %>
</tbody>
