<div class="container px-5 px-sm-0">
    <% if client_signed_in? %><!--clientでログインした場合-->
      <div class="row">
        <div class="col-md-2 d-flex align-items-center justify-content-center">
          <%= render "client/traders/sidebar", genres: @genres %>
        </div>
        <div class="col class="col-md-10"">
          <strong style="font-size:25px;">業者一覧</strong>
          <table class='table table-hover table-inverse'>
            <%= render 'client_top', traders: @traders %>
          </table>
          <%= paginate @traders %>
        </div>
      </div>
    <% elsif trader_signed_in? %><!--traderでログインした場合-->
      <div class="row d-flex">
        <div class="col-md-3">
          <div><!--%= render 'genreのフォルダ先を入力' %--></div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-9">
          <strong style="font-size:25px;">顧客一覧</strong>
          <table class='table table-hover table-inverse'>
            <%= render 'trader_top', clients: @clients %>
          </table>
          <%= paginate @clients %>
        </div>
      </div>
      <% elsif admin_signed_in? %><!--clientでログインした場合-->
      <div class="row">
        <div class="col-md-2 d-flex align-items-center justify-content-center">
          <%= render "admin/traders/sidebar", genres: @genres %>
        </div>
        <div class="col-md-10">
          <strong style="font-size:25px;">業者一覧</strong>
          <table class='table table-hover table-inverse'>
            <%= render 'admin_top', traders: @traders %>
          </table>
          <%= paginate @traders %>
        </div>
      </div>
    <% else %><!--ログアウトした場合-->
      <div class="row d-flex">
        <div class="col-md-2">
          <div><!--%= render 'genreのフォルダ先を入力' %--></div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <strong style="font-size:25px;">業者一覧</strong>
          <table class='table table-hover table-inverse'>
            <%= render 'nologin_top', traders: @traders %>
          </table>
          <%= paginate @traders %>
        </div>
      </div>
  <% end %>
</div>
