<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-8">
			<h2 class="head-line text-center title_h3"><%= @client.name %>さん 詳細情報</h2>
			<p>
				登録情報
			</p>

			<table class="table table-bordered table-condensed" >
				<tbody>
					<tr>
						<td class="info col-xs-2">氏名</td>
						<td class="text-left"><%= @client.name %></td>
					</tr>
					<tr>
						<td class="info">メールアドレス</td>
						<td class="text-left"><%= @client.email %></td>
					</tr>
					<tr>
						<td class="info">職業</td>
						<td class="text-left"><%= @client.work %></td>
					</tr>
					<tr>
						<td class="info">ユーザー情報</td>
						<td class="text-left"><%= @client.client_info %></td>
					</tr>
					<tr>
						<td class="info">電話番号</td>
						<td class="text-left"><%= @client.telephone_number %></td>
					</tr>
				</tbody>
			</table>

			<p>
				レビュー履歴
				<%= link_to " 一覧へ", trader_client_review_path(@client.id,@client.reviews), class: "glyphicon glyphicon-folder-open btn btn-info" %>
			</p>
			<p>
				コメント履歴:<%= @comments.count%>件のコメント履歴があります
				<div class=col>
					<table class="table table-bordered table-condensed" >
        		<thead>
        			<tr>
        				<th colspan="2">タイトル</th>
        				<th>評価関係</th>
        			</tr>
        		</thead>
        		<tbody>
							<% @comments.each do |comment| %>
							  <tr>
								  <td><%= link_to comment.post.title,trader_post_path(comment.post.id) %></td>
								  <td><%= link_to comment.post.trader.name,trader_user_path(comment.post.trader.id) %></td>
								  <td>いいね数：<%= comment.post.favorites.count%></td>
							  </tr>
							<% end %>
					  </tbody>
					</table>
					<%= paginate @comments %>
				</div>
			</p>
		</div>
	</div>
</div>
