<div class="container">
	<div class="row d-flex">
		<div class=col-md-3>
		  <% if @client.profile_image.attached? %>
				<%= image_tag(@client.get_profile_image(200,200)) %>
			<% else %>
				<%= image_tag 'sample-author1.jpg', size: "200x200" %>
			<% end %>
		</div>
		<div class="col-md-9">
			<h2 class="head-line text-center title_h3"><%= @client.name %>さん 詳細情報</h2>
			<p>
				登録情報
			</p>

			<table class="table table-bordered table-condensed" >
				<tbody>
					<tr>
						<td class="info col-xs-2">氏名</td>
						<td class="text-left"><%= @client.name %></td>
					</tr>
					<tr>
						<td class="info">メールアドレス</td>
						<td class="text-left"><%= @client.email %></td>
					</tr>
					<tr>
						<td class="info">職業</td>
						<td class="text-left"><%= @client.work %></td>
					</tr>
					<tr>
						<td class="info">ユーザー情報</td>
						<td class="text-left"><%= @client.client_info %></td>
					</tr>
					<tr>
						<td class="info">電話番号</td>
						<td class="text-left"><%= @client.telephone_number %></td>
					</tr>
				</tbody>
			</table>

			<p>
				レビュー履歴 : <%= @client.reviews.count%><br>
				<%= link_to " 一覧へ", trader_client_review_path(@client.id,@client.reviews), class: "glyphicon glyphicon-folder-open btn btn-info" %>
			</p>
			<p>
				コメント履歴 : <%= @comments.count%>件<br>
				<%= link_to " 一覧ページへ", trader_client_comments_path(@client.id), class: "btn btn-success" %>
			</p>
		</div>
	</div>
</div>
